vendor/camera/mimoji/model2.zip
vendor/data-app/SmartHome/SmartHome.apk
boot.img
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
.git/objects/pack/pack-a9b34acdedb1fae66b6ced9d0ee20ba925eabb34.pack
