vendor/camera/mimoji/model2.zip
vendor/data-app/MiBrowserGlobalVendor/MiBrowserGlobalVendor.apk
boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/system_ext/priv-app/Settings/Settings.apk
