boot.img
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiuiVideo/MiuiVideo.apk
vendor/camera/mimoji/model2.zip
vendor/data-app/SmartHome/SmartHome.apk
